.app {

  font-family: Arial, sans-serif;
  font-size: 12px;
  width: 1280px;
  margin: 0 auto;

  table {
    th, td {
      vertical-align: text-top;
      line-height: 2em;
      height: 2em;
      padding: 0 4px;
    }
  }

  label {
    cursor: pointer;

    & + label {
      margin-left: 4px;
    }

    input[type=radio], input[type=checkbox] {
      margin: 0 4px;
    }
  }

}
