.app {

  font-family: Arial;
  font-size: 12px;
  width: 1280px;
  margin: 0 auto;

  table {
    th, td {
      vertical-align: text-top;
    }
  }

  label {
    cursor: pointer;

    & + label {
      margin-left: 10px;
    }

    input[type=radio], input[type=checkbox] {
      position: relative;
      top: 2px;
    }
  }

  .github-button {
    display: none;
  }

}
